body {
    font-family: sans-serif;
    }
    header{
    text-align:center;  
    }
          #logo{
        background-color: green;
    }
div{
background-color:blue;
}

nav{
background-color: green; 
 text-align: center;
 padding: 10px;
}
nav a{
color:white;
}
.product{
    background-color: green;
    padding: 5px;
    color:white;
    text-align: center;
}
div{
    text-align: center;
    color:white;
}

